table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 2px solid black;
  padding: 0.2em 0.7em;
  text-align: right;
  padding-top: 5%;
  padding-bottom: 5%;
}
th.left,
td.left,
tr {
  text-align: center;
  text-rendering: auto;
  text-shadow: darkblue;
}
thead {
  background-color: cornflowerblue;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
tr:nth-child(even) {
  background-color: #62a8e2;
}

